# DB
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=dbtable
DB_HOST=localhost
DB_PORT=5432

# API APP
JWT_SECRET=JWT_SECRET
INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_PASSWORD=password
SERVER_API_PORT=8080
SCHEDULE_ENGINE_URL=http://localhost:8081
LOG_API_DIR=./local_logs/api # local is ./... in prod use /app/logs
LOG_API_MAX_SIZE=10
LOG_API_MAX_BACKUP=5
LOG_API_MAX_AGE=28

# SCHEDULE ENGINE APP
SERVER_SCHEDULE_ENGINE_PORT=8081
LOG_SCHEDULE_ENGINE_DIR=./local_logs/schedule # local is ./... in prod use /app/logs
LOG_SCHEDULE_ENGINE_MAX_SIZE=10
LOG_SCHEDULE_ENGINE_MAX_BACKUP=5
LOG_SCHEDULE_ENGINE_MAX_AGE=28